* {
    font-family: 'Roboto';
    outline: solid red 1px;
    margin: 0;
    padding: 0;
}

.main-divs {
    margin-left: 0;
    margin-right: 0;
    padding-left: 150px;
    padding-right: 150px;
    height: 265px;
}

.hero {
    background-color: #1F2937;
    color:#F9FAF8;
    align-items: center;
    justify-content: center;
    display: flex;    
}

.hero-tagline, .hero-image-container {
    flex: 1;
    height: 200px;
    align-items: center;
}

.hero-tagline .h2{
    font-weight: 900;
}

.header {
    padding-top: 5px;
    height: 25px;
    display:flex;
    background-color: #1F2937;
    color:#F9FAF8;
    align-items: center;
}

.logo-container {
    display:flex;
    align-items: center;
}

.nav-header-main-list {
    display: flex;
    list-style-type:none;
    margin-left:auto;
}

.random-info-list-items {
    list-style-type: none;
}

